body {
  margin: 0;
  background-color: #2941ab;
  overflow-x: hidden;
}
.verdao {
  color: rgb(30, 215, 96);

}
#webplayerbutton {
  border-radius: 38px;
  padding: 14px 32px;
  font-size: 15px;
  background-color: rgb(30 215 96);
  color: rgb(41, 65, 171);
  border: none;
  font-family: Helvetica;
  font-weight: 800;
  letter-spacing: 3px;
}

#webplayerbutton:hover {
  transition: 0.5s;
  cursor: pointer;
  padding: 19px 32px 9px 32px;
  transform: rotateZ(30deg) scale(1.2);

}
#webplayerbutton:active{
  background-color: black;
  transition: 0s;
}
header {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container-header {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin: 0 10px;
}

li:hover {
  color: rgb(216, 72, 60);
  cursor: pointer;
}

#perfil-link:hover {
  color: rgb(30, 215, 96);
  cursor: pointer;
}

#image-profile {
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16em;
}
.titulo-conteudo-page{
  margin: 0px;
  font-size: 49px;
}
.bola{
  background-color:#1ed760 ;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  position: absolute;
  top: -5rem;
  right: -8rem;
  z-index: -1;
}



.bola-left-bottom{
  top: 31rem;
  right: 32rem;
}
.bola-right-bottom{
  top: 31rem;
  right: -8rem;
}